@page
@using TestABP.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IHtmlLocalizer<TestABPResource> L
@model TestABP.Web.Pages.Students.Student.EditModalModel
@*@{
    Layout = null;
}*@

@section styles {
    <style>
        .abp-view-modal .modal {
            position: static;
            display: block;
            opacity: inherit !important;
        }

            .abp-view-modal .modal.fade .modal-dialog {
                transition: inherit !important;
                transform: inherit !important;
                
            }

        .abp-view-modal .modal-header .btn-close {
            display: none;
        }
    </style>
}
@section scripts {
    <script>
        $(".abp-view-modal form").abpAjaxForm().on('abp-ajax-success', function () {
            location.href = "/Students";
        });
    </script>
}


<div class="abp-view-modal">
    <abp-dynamic-form abp-model="ViewModel" asp-page="/Students/Student/CreateModal">
        <abp-modal size="ExtraLarge">
            <abp-modal-header title="@L["EditStudent"].Value"></abp-modal-header>
            <abp-modal-body>
                <abp-form-content />
            </abp-modal-body>
            <abp-modal-footer buttons="@(AbpModalButtons.Save)"></abp-modal-footer>
        </abp-modal>
    </abp-dynamic-form>
</div>



@*<abp-dynamic-form abp-model="ViewModel" data-ajaxForm="true" asp-page="EditModal">
    <abp-modal>
        <abp-modal-header title="@L["EditStudent"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Id" />
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>*@
